.composition{
    position: relative;
        &__photo {
                box-shadow:0 1.5rem 2rem rgba($color-black,.4);
                border-radius:0.2rem;
                width:55%;
                position:absolute;
                z-index: 10;
                transition: all .4s;
                outline-offset: 1rem; // we use here to give space between an image & outline border 

                    &--p1{
                        left:0;
                        top:-2rem;
                    }
                    
                    &--p2{
                        right:0;
                        top:2rem;
                    }
                    
                    &--p3{
                        left:20%;
                        top:10rem;
                    }

                    &:hover{
                    outline:.5rem solid $color-primary;   // used to setup the border of an image 
                    transform: scale(1.10) translateY(-0.5rem);
                    box-shadow:0 2.5rem 4rem rgba($color-black,0.5);
                    z-index: 20;
            }
        }
        
        &:hover &__photo:not(:hover){  // composition:hover composition__photo:not(:hover)
            transform: scale(.6);
            opacity: .3;
        }



}
